body {
	width: 500px;
	margin: 0 auto;
	padding: 0px 20px 20px 20px;
	border-radius: 10px;
	font-family: sans-serif;
	clear: both;
	background-color: #FAFAFA;background: -webkit-linear-gradient(#F0E5DA,#FE9A2E); 
    background: -o-linear-gradient(#7401DF,#8904B1); 
    background: -moz-linear-gradient(#7401DF,#8904B1); 
    background: linear-gradient(#7401DF,#8904B1); 
    background-color: #7401DF;
}
form{
	width: 400px;
	margin: 0 auto;
	border: 2px solid #DDD;
	border-radius: 10px;
	padding: 0px 20px 20px 20px;
	font-family: sans-serif;
	/*clear: both;*/
	background-color: #DDDD;
}
#name, #firstnumber, #lastnumber{
	width: 320px;
	height: 40px;
	line-height: 40px;
	padding-left: 5px;
	border: 2px solid #D8D8D8;
	background-color: #E6E6E6;
	border-radius: 5px;
	font-size: 15px;
}
#ok{
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-top: 20px;
	background-color: #8904B1;
	border-radius: 5px;
	border: 2px solid #8904B1;
}
.errow{
	color: red;
}
#bill{
	width: 400px;
	margin: 0 auto;
	margin-top: 10px;
	border: 2px solid #DDD;
	border-radius: 10px;
	text-align: center;
	padding: 5px;
	display: none;
	font-family: sans-serif;
}