table{
	width: 800px;
	border-collapse: collapse;
}
table, tr, th, td{
	border: 2px solid black;
}
thead, tfoot{
	background-color: green;
}
tbody{
	background-color: #DDD;
}
td:nth-child(2){
	color: orange;
}
tr:nth-child(even){
	background-color: blue;
	color: white;
}