table{
	width: 1500px;
	border: 2px solid black;
	border-collapse: collapse;
}
table, tr, th, td{
	border: 2px solid black;
	text-align: center;
}
.style{
	background-color: yellow;
}
tr:nth-child(4){
	background-color: yellow;
}
td:nth-child(odd){
	color: blue;
}


