body{
	width: 350px;
	height: 580px;
	margin: 0 auto;
	border: 2px solid #DDD;
	padding: 0px 20px 20px 20px;
	border-radius: 10px;
	font-family: sans-serif;
	clear: both;
	background-color: #FAFAFA;
}
#username, #email, #title{
	width: 320px;
	height: 40px;
	line-height: 40px;
	padding-left: 5px;
	border: 2px solid #D8D8D8;
	background-color: #E6E6E6;
	border-radius: 5px;
	font-size: 15px;
}
#content{
	width: 320px;
	height: 80px;
	padding-left: 5px;
	border: 2px solid #D8D8D8;
	background-color: #E6E6E6;
	border-radius: 5px;
	font-family: sans-serif;
	font-size: 15px;
}
#send{
	border: none;
	border-radius: 5px;
	width: 100px;
	height: 40px;
	line-height: 40px;
	background-color: #0080FF;
}