body{
	width: 800px;
	background-color: white;
	margin: 0 auto;
}
form{
	width: 740px;
	border: 2px dotted black;
	padding: 10px;
	font-size: 20px;
	vertical-align: all;
	background: -webkit-linear-gradient(#00BFFF,#A901DB); 
    background: -o-linear-gradient(#00BFFF,#A901DB); 
    background: -moz-linear-gradient(#00BFFF,#A901DB); 
    background: linear-gradient(#00BFFF,#A901DB); 
    background-color: #00BFFF;
}
a{
	width: 740px;
	font-weight: bold;
	font-size: 30px;
	padding: 50px;
}
.address{
	width: 300px;
	height: 150px;
}
.submit, .reset{
	border: none;
	width: 240px;
	vertical-align: middle;
	font-family: all;
	font-size: 30px;
	background-color: #DDD;
}
.others{
	margin-left: 80px;
}
.qualification{
	margin-left: 120px;
}
.courses{
	margin-left: 110px;
}
