#container{
	max-width: 250px;
	max-height: 300px;
	border: 2px solid black;
	padding: 5px;
	box-shadow: 3px 3px black;
}
ul li{
	list-style-type: none;
}
ul li a{
	text-decoration: none;
}
.home{
padding-top: 5px;
padding-left: 5px;
padding-bottom: 5px;
border: 2px solid blue;
}
.get{
padding-top: 5px;
padding-left: 5px;
padding-bottom: 5px;
border: 2px solid blue;
margin-top: 5px;
}
.become{
padding-top: 5px;
padding-left: 5px;
padding-bottom: 5px;
border: 2px solid blue;
margin-top: 5px;
background-color: #DDD;
}
.about{
padding-top: 5px;
padding-left: 5px;
padding-bottom: 5px;
border: 2px solid blue;
margin-top: 5px;
}

#content{
	padding: 15px;
	font-weight: bold;
}
div h1{
	margin-top: 5px;
	margin-left: 5px;
}
