body{
	width: 800px;
	height: 540px;
	margin: 10px auto;
}
table{
	width: 800px;
	height: 500px;
	border: 2px solid black;
	border-collapse: collapse;
}
table, tr, th, td{
	border: 2px solid black;
	text-align: center;
}